@import "./_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./_navigation.scss";


.container{
    max-width: 1240px;
}
.dropdown-toggle::after{
    content:"";
    display: none;
}
#recipe-container{
    padding: 0; 
    .card{
        max-width:380px;
        &-body__header{
            h2,span{
                font-size: 1.2rem;
            }
        }
        &-body__infos{
            font-size: 0.9rem;
      }
        
    }
    img{
        height: 180px;
    }

} 
#form-container{
    form{
        padding: 0;
        margin: 0;
        // &:nth-of-type(2){
        //     position:relative;
            
        // }
        // &:nth-of-type(3){
        //     position:relative;
            
        // }
    }
    .input-group{
        width: 160px;
        position:relative;
        
       
        input.form-control{
           
            &::placeholder{
                color: white;
            }
           
        }
        ul{
            display:none;
            position:absolute;
            left:1px;
            top: 4.5rem;
            z-index: 1;
        }
    } 
}
.my-columns{
    columns:3;

    .dropdown-item:hover,.dropdown-item:focus {
        color: $dark!important;
        background: $white;
    }
}